@charset "utf-8";


div#admin {
	margin: auto;
	width: 955px;
}
div.head {
	float: left;
	width: 955px;
	height: 70px;
}
div.head a {
	color: #FFF;
	text-decoration: none;
}


div.logo {
	float: left;
	margin-top: -25px;
	margin-left: 15px;
	padding: 27px 0;
}

div.wrapper {
	background-image: url(../img/admin/bg-admin.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	width: 895px;
	padding-top: 40px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: left;
	font-size: 12px;
	line-height: 17px;
	padding-bottom: 20px;
	position: relative;
}
div.col01 {
	float: left;
	width: 163px;
	margin-left: 5px;
}

div.col02 {
	padding-left: 20px;
	float: left;
	width: 680px;
	margin-left: 20px;
}
div.footer {
	background-image: url(../img/admin/bg-admin.png);
	background-repeat: no-repeat;
	background-position: left -2973px;
	float: left;
	width: 895px;
	text-align: right;
	font-size: 12px;
	line-height: 17px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 20px;
}
div#flashMessage {
	font-weight: bold;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
}

.auto-close {
	float: left;
	margin: 15px 0 0 15px;
	font-size: 10px;
	color: #666;
}
.auto-close .tiempo {
	font-weight: bold;
}

.sort-servicio {
	width: 670px;
	height: 81px;
	border: 2px solid red;
}